
#profile
{
	position:fixed;
	top:15%;
	left:40%;
	width:350px;
	height:350px;
	border-radius:175px;

}

#profilepicture
{
	border-radius:175px;
	border:10px solid #1fda9a;
}

h1 {
	font-family: 'Passion One', cursive;
	font-weight:700;
	font-size:50px;
	text-align:center;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #1fda9a;
	background:#ee4b3e;
	-webkit-border-radius: 20px;
            border-radius: 20px;
}
#menu li.active{
	background:#ee4b3e;
	color: #ee4b3e;
}
#menu li a{
	text-decoration:none;
	color: #1fda9a;
}
#menu li.active a:hover{
	color: #ee4b3e;
}
#menu li:hover{
	background: #fff;
}
#menu li a,
#menu li.active a{
	padding: 10px 10px;
	display:block;
}
#menu li.active a{
	color: #ee4b3e;
}
#menu{
	position:fixed;
	top:90%;
	left:44%;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}